<template name="projects">
    <br/>
    {{> filters}}
    {{> search}}
        <table class="table table-bordered table-striped table-hover projectTable pagination-sm" id="projectTable">
                <thead>
                    <tr>
                        <th id="name-header" width='auto'>Name</th>
                        <th id="owner-header">Owner</th>
                        <th id="url-header">URL</th>
                        <th>Platform</th>
                        <th>Type</th>
                        <th width='80px'>Status</th>
                        <th width='85px'>Priority</th>
                        <th width='40px'>Due/Launch Date</th>
                    </tr>
                </thead>

                <tbody>
                   {{#each projectList}}
                   {{> projectRow}}
                    {{/each}}
                </tbody>
            </table>
            <button id="goTop">Go To Top</button>
</template>

<template name="projectRow">
                <tr class="parent">
                        
                        <td><a class="editable editableName">{{name}}</a><br/>
                        {{#if description}}
                        <a class="editable editableDescription">{{description}}</a>
                        {{else}}
                        <a class="editableDescription">Enter a Description</a>
                        {{/if}}

                <table>
                    
                        {{#if screenshotEnabled}}
                        <tr>
                        <td width="80">
                            <div style="height:72px; width:92px;">
                            {{#each thumbnailPath this._id}}
                            <img href="{{this.url}}" src= "{{this.url}}" align="left">
                            {{/each}}
                            <br><br><span class="glyphicon glyphicon-refresh refreshScreenshot"></span>
                            </div>
                        </td>
                        </tr>
                        {{/if}}
                    {{>tags}}
                </table>
                    </td>


                    <!--Editable Owner-->
                    <td>
                        {{#if owner}}
                            <a class="editable editableOwner">{{owner}}</a>
                        {{else}}
                            <a class="editableOwner">No Owner</a>
                        {{/if}}
                    </td>
                    <!--/Editable Owner-->


                    <!--Editable URL-->
                    <td>
                        {{#if url}}
                            <a href="{{formattedUrl}}" class="editable editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"><btn class="glyphicon glyphicon-edit"></btn></a> <br />
                        {{else}}
                            <a class="editURL glyphicon glyphicon-plus pull-center"></a><br/>
                        {{/if}}
                    </td>
                    <!--/Editable-->


                    <!--Editable Platform-->
                    <td>
                        {{#if platform}}
                            <a class="editable editablePlatform">{{platform}}</a>
                        {{else}}
                            <a class="editablePlatform">Add Platform</a>
                        {{/if}}
                    </td>
                    <!--/Editable Platform-->

                    <!--Editable Type-->
                    <td>
                        {{#if type}}
                            <a class="editable editableType">{{type}}</a>
                        {{else}}
                            <a class="editableType">Add Type</a>
                        {{/if}}
                    </td>
                    <!--/Editable Type-->

                    <!--Editable Status-->
                    <td>
                            {{#if status}}
                                <a class="editable editableStatus">{{status}}</a>
                            {{else}}
                                <a class="editableStatus">Add Status</a>
                            {{/if}}
                    </td>


                    <td>
                        {{#if priority}}
                            <a class="editable editablePriority">{{priority}}</a>
                        {{else}}
                            <a class="editablePriority glyphicon glyphicon-plus pull-center"></a><br/>
                        {{/if}}
                    </td>

                    <td>
                        {{#if date}}
                            <a class="editableDate">{{date}}</a>
                        {{else}}
                            <a class="editableDate">Enter a date</a>
                        {{/if}}
                    </td>
                    <!--/Editable-->

                </tr>
                        <tr style="display:none" class ="details">
                        <td colspan="10">
                        <table>
                        <tr>
                        <td valign="top">
                            {{#if url}}
                            <label for="url">URL: </label> <a href="{{formattedUrl}}" class="editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"> <btn class="glyphicon glyphicon-edit"></btn></a> <br />
                            {{else}}
                             <br/>URL: <a class="editURL">Enter a URL</a><br/>
                             {{/if}}
                            <label for="notes">Notes: </label>
                            {{#if notes}}
                                <a class="editableNotes">{{notes}}</a><br/>
                            {{else}}
                                <a class="editableNotes">Add Notes</a><br/>
                            {{/if}}


                            {{#if url}}
                            {{#if screenshotEnabled}}
                            <label>Screenshot Tracking: </label><input type="checkbox" class="screenshotToggle" checked>
                            {{else}}
                            <label>Screenshot Tracking: </label><input type="checkbox" class="screenshotToggle">
                            {{/if}}
                            {{/if}}

                        </td>
                        <td>
                        {{#if screenshotEnabled}}
                        {{#each imagePath this._id}}
                        <div STYLE="height:480px; width: 640px; font-size: 12px; overflow: auto; float:right;">
                            <img href="{{this.url}}" src= "{{this.url}}" class="screenshot-wrapper" align="left"><br />
                        </div>
                        {{/each}}
                        {{/if}}
                        </td>
                    </tr>
                    </table>
                            <a class="btn btn-danger btn-large pull-center deleteProject"><i class="icon-white icon-trash"></i> Delete Project</a><br/><br/>
                        </td>
                    </tr>
    <td>

    </td>
</template>

<template name="tags">
                        <td text-align="left" class="tags" id = "tags-{{_id}}">
                            {{#if tags}}
                            {{#each tags}}
                            <div class="tagContainer"><a href="https://help.as.uky.edu/story-search?f[0]=field_tags%253Aname%3A+{{this}}" target="_blank" class="currentTag btn btn-xs btn-default">{{this}}</a><span class="btn btn-default btn-xs deleteTag glyphicon glyphicon-remove"></span></div>
                            {{/each}}
                            {{/if}}
                        <div class="addTagContainer"><btn class="addTag glyphicon glyphicon-plus" href=''></btn></div>
                        </td>
</template>


<template name="filters">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Status: {{getStatusFilter}}
      <span class="caret"></span>
    </button>
    <ul class="statusFilter dropdown-menu">
      <li><a href="#" class = "changeStatusFilter" value = "In Progress">In Progress</a></li>
      <li><a href="#" class = "changeStatusFilter" value = "Not Scheduled">Not Scheduled</a></li> 
      <li><a href="#" class = "changeStatusFilter" value = null>On Hold</a></li>     
      <li><a href="#" class = "changeStatusFilter" value = "Done">Done</a></li>
      <li><a href="#" class = "changeStatusFilter" value = null>No Status</a></li>
      <li><a href="#" class = "changeStatusFilter" value="">All</a></li>
    </ul>
  </div>


  <div class="priorityFilter btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Priority: {{getPriorityFilter}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" class = "changePriorityFilter" value = "">Any</a></li>
      <li><a href="#" class = "changePriorityFilter" value = "High Priority">High Priority</a></li>
      <li><a href="#" class = "changePriorityFilter" value = "Low Priority">Low Priority</a></li>      
    </ul>
  </div>

    <div class="sortBy btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Sort By: {{getSort}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" class = "changeSort" value = "time">Time Entered</a></li>
      <li><a href="#" class = "changeSort" value = "name">Name</a></li>
      <li><a href="#" class = "changeSort" value = "date">Date</a></li>      
    </ul>
  </div>



</template>


<template name="imageList">
{{#each images}}
<li><p>{{this.metadata.projectId}}</p>
<img src="{{this.url}}"></li>
{{/each}}
</template>