<template name="projects">
    {{> projectForm}}
    <br/>
    <br/>
    {{> filters}}
    {{> search}}
        <table class="table table-bordered table-striped table-hover projectTable pagination-sm table-condensed" id="projectTable">
                <thead class="project-header">
                    <tr>
                        <th id="name-header" width='auto'>Name</th>
                        <th id="owner-header">Owner</th>
                        <th id="url-header">URL</th>
                        <th>Platform</th>
                        <th>Type</th>
                        <th width='80px'>Status</th>
                        <th width='85px'>Priority</th>
                        <th width='40px'>Due/Launch Date</th>
                    </tr>
                </thead>

                <tbody>
                   {{#each projectList}}
                   {{> projectRow}}
                    {{/each}}
                </tbody>
            </table>
            <button id="goTop">Go To Top</button>
</template>

<template name="projectRow">
                <tr class="parent">
                        
                        <td><a class="editable editableName">{{name}}</a><br/>
                        {{#if description}}
                        <span class="editable editableDescription">{{description}}</span>
                        {{else}}
                        <a class="editableDescription">Enter a Description</a>
                        {{/if}}                    
                        {{#if screenshotEnabled}}
                            <div style="height:72px; width:92px;">
                            {{#each thumbnailPath this._id}}
                            <img href="{{this.url}}" src= "{{this.url}}" align="left">
                            {{/each}}
                            <br><br><span class="glyphicon glyphicon-refresh refreshScreenshot"></span>
                            </div>
                        {{/if}}
                    </td>


                    <!--Editable Owner-->
                    <td>
                        {{#if owner}}
                            <span class="editable editableOwner">{{owner}}</span>
                        {{else}}
                            <a class="editableOwner">No Owner</a>
                        {{/if}}
                    </td>
                    <!--/Editable Owner-->


                    <!--Editable URL-->
                    <td>
                        {{#if url}}
                            <a href="{{formattedUrl}}" class="editable editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"><btn class="glyphicon glyphicon-edit"></btn></a> <br />
                        {{else}}
                            <a class="editURL glyphicon glyphicon-plus pull-center"></a><br/>
                        {{/if}}
                    </td>
                    <!--/Editable-->


                    <!--Editable Platform-->
                    <td>
                        {{#if platform}}
                            <a class="editable editablePlatform">{{platform}}</a>
                        {{else}}
                            <a class="editablePlatform">Add Platform</a>
                        {{/if}}
                    </td>
                    <!--/Editable Platform-->

                    <!--Editable Type-->
                    <td>
                        {{#if type}}
                            <a class="editable editableType">{{type}}</a>
                        {{else}}
                            <a class="editableType">Add Type</a>
                        {{/if}}
                    </td>
                    <!--/Editable Type-->

                    <!--Editable Status-->
                    <td>
                            {{#if status}}
                                <a class="editable editableStatus">{{status}}</a>
                            {{else}}
                                <a class="editableStatus">Add Status</a>
                            {{/if}}
                    </td>


                    <td>
                        {{#if priority}}
                            <a class="editable editablePriority">{{priority}}</a>
                        {{else}}
                            <a class="editablePriority glyphicon glyphicon-plus pull-center"></a><br/>
                        {{/if}}
                    </td>

                    <td>
                        {{#if date}}
                            <a class="editableDate">{{date}}</a>
                        {{else}}
                            <a class="editableDate">Enter a date</a>
                        {{/if}}
                    </td>
                    <!--/Editable-->

                </tr>
                        <tr style="display:none" class ="details">
                        <td colspan="10">
                        <table>
                        <tr>
                        <td valign="top">
                            {{#if url}}
                            <label for="url">URL: </label> <a href="{{formattedUrl}}" class="editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"> <btn class="glyphicon glyphicon-edit"></btn></a> <br />
                            {{else}}
                             <br/>URL: <a class="editURL">Enter a URL</a><br/>
                             {{/if}}
                            <label for="notes">Notes: </label>
                            {{#if notes}}
                                <a class="editableNotes">{{notes}}</a><br/>
                            {{else}}
                                <a class="editableNotes">Add Notes</a><br/>
                            {{/if}}


                            {{#if url}}
                            {{#if screenshotEnabled}}
                            <label>Screenshot Tracking: </label><input type="checkbox" class="screenshotToggle" checked>
                            {{else}}
                            <label>Screenshot Tracking: </label><input type="checkbox" class="screenshotToggle">
                            {{/if}}
                            {{/if}}
                            {{>tags}}

                        </td>
                        <td>
                        {{#if screenshotEnabled}}
                        {{#each imagePath this._id}}
                        <div STYLE="height:480px; width: 640px; font-size: 12px; overflow: auto; float:right;">
                            <img href="{{this.url}}" src= "{{this.url}}" class="screenshot-wrapper" align="left"><br />
                        </div>
                        {{/each}}
                        {{/if}}
                        </td>
                    </tr>
                    </table>
                            <a class="btn btn-danger btn-sm pull-center deleteProject"><i class="icon-white icon-trash"></i> Delete Project</a><br/><br/>
                        </td>
                    </tr>
    <td>

    </td>
</template>

<template name="imageList">
{{#each images}}
<li><p>{{this.metadata.projectId}}</p>
<img src="{{this.url}}"></li>
{{/each}}
</template>