<template name="projects">
    <br/>{{> filters}}
        <table class="table table-bordered table-striped table-hover projectTable pagination-sm" id="projectTable">
                <thead>
                    <tr>
                        <th id="name-header" width='auto'>Name</th>
                        <th id="owner-header">Owner</th>
                        <th id="url-header">URL</th>
                        <th>Platform</th>
                        <th>Type</th>
                        <th width='80px'>Status</th>
                        <th width='80px'>Priority</th>
                        <th width='40px'>Due/Launch Date</th>
                    </tr>
                </thead>

                <tbody>
                   {{#each projectList}}
                   {{> projectRow}}
                    {{/each}}
                </tbody>
            </table>
</template>

<template name="projectRow">
                <tr class="parent">
                        
                        <td><a class="editableName editable-click">{{name}}</a><br/>
                        {{#if description}}
                        Description: <br /><a class="editableDescription">{{description}}</a>
                        {{else}}
                        Description: <br /><a class="editableDescription">Enter a Description</a>
                        {{/if}}
                        {{#if screenshotEnabled}}{{#if imagePath}}
                        

                <table>
                    <tr>
                    
                        <td width="80">
                            <div style="height:60px; width:80px;">
                            <img href="{{imagePath}}" src= "{{imagePath}}" class = "thumb-wrapper" align="left"> 
                            </div>
                        </td>
                            {{>tags}}
                    </tr>
                </table>

                        {{/if}}
                        {{else}}
                        {{>tags}}
                        {{/if}}

                    </td>


                    <!--Editable Owner-->
                    <td>
                        {{#if owner}}
                            <a class="editableOwner">{{owner}}</a>
                        {{else}}
                            <a class="editableOwner">No Owner</a>
                        {{/if}}
                    </td>
                    <!--/Editable Owner-->


                    <!--Editable URL-->
                    <td>
                        {{#if url}}
                            <a href="{{formattedUrl}}" class="editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"><btn class="glyphicon glyphicon-edit"></btn></a> <br />
                        {{else}}
                            <a class="editURL">Enter a URL</a><br/>
                        {{/if}}
                    </td>
                    <!--/Editable-->


                    <!--Editable Platform-->
                    <td>
                        {{#if platform}}
                            <a class="editablePlatform">{{platform}}</a>
                        {{else}}
                            <a class="editablePlatform">Add Platform</a>
                        {{/if}}
                    </td>
                    <!--/Editable Platform-->

                    <!--Editable Type-->
                    <td>
                        {{#if type}}
                            <a class="editableType">{{type}}</a>
                        {{else}}
                            <a class="editableType">Add Type</a>
                        {{/if}}
                    </td>
                    <!--/Editable Type-->

                    <!--Editable Status-->
                    <td>
                            {{#if status}}
                                <a class="editableStatus">{{status}}</a>
                            {{else}}
                                <a class="editableStatus">Add Status</a>
                            {{/if}}
                    </td>
                            <td><a class="editablePriority">{{priority}}</a></td>


                            <td><a class="editableDate">{{date}}</a></td>
                    <!--/Editable-->

                </tr>
                        <tr style="display:none" class ="details">
                        <td colspan="10">
                        <table>
                        <tr>
                        <td valign="top">
                            {{#if url}}
                            <label for="url">URL: </label> <a href="{{formattedUrl}}" class="editableURL" target="_blank"> {{formattedUrl}}</a><a class="editURL"> <btn class="glyphicon glyphicon-edit"></btn></a> <br />
                            {{else}}
                             <br/>URL: <a class="editURL">Enter a URL</a><br/>
                             {{/if}}
                            <label for="notes">Notes: </label>
                            {{#if notes}}
                                <a class="editableNotes">{{notes}}</a><br/>
                            {{else}}
                                <a class="editableNotes">Add Notes</a><br/>
                            {{/if}}


                            {{#if url}}
                            {{#if screenshotEnabled}}
                            <input type="checkbox" class="screenshotToggle" checked>Screenshot Tracking<br/>
                            {{else}}
                            <input type="checkbox" class="screenshotToggle">Screenshot Tracking<br/>
                            {{/if}}
                            {{/if}}

                        </td>
                        <td>
                        {{#if screenshotEnabled}}
                        {{#if imagePath}}
                        <div STYLE="height:480px; width: 640px; font-size: 12px; overflow: auto;">
                            <img href="{{imagePath}}" src= "{{imagePath}}" class="screenshot-wrapper" align="left"><br />
                        </div>
                        {{/if}}
                        {{/if}}
                        </td>
                    </tr>
                    </table>
                            <a class="btn btn-danger btn-large pull-center deleteProject" href="/"><i class="icon-white icon-trash"></i> Delete Project</a><br/><br/>
                        </td>
                    </tr>
    <td>

    </td>
</template>

<template name="tags">
                        <td text-align="left" class="tags" id = "tags-{{_id}}"> Tags:
                            {{#if tags}}
                            {{#each tags}}
                            <a href="{{tagUrl}}" class="currentTag btn btn-xs btn-default">{{this}}</a><span class="btn btn-default btn-xs deleteTag glyphicon glyphicon-remove"></span>
                            {{/each}}
                            {{/if}}
                        <btn class="addTag glyphicon glyphicon-plus" href=''></btn>
                        </td>
</template>


<template name="filters">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Status: {{getFilterBy}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" class = "changeFilter" value = "In Progress">In Progress</a></li>
      <li><a href="#" class = "changeFilter" value = "Not Scheduled">Not Scheduled</a></li>      
      <li><a href="#" class = "changeFilter" value = "Done">Done</a></li>
      <li><a href="#" class = "changeFilter" value = null>No Status</a></li>
      <li><a href="#" class = "changeFilter" value="">All</a></li>



    </ul>
  </div>
</template>
