<template name="projectForm">
<div class="container-fluid">
    <div class="row-fluid">
        <button class="btn btn-success addProject filterable" id="addProjectBtn">Add Project</button><br /><br/>
        <div class="modal fade" id='responsive'>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Project</h4>
              </div>
              <div class="modal-body">
                <label for="name">Project Name:</label><input type="text" class="input input-xlarge name" name="name" value="{{project.name}}" id="name"><br />
                <label for="owner">Project Owner:</label><input type="text" class="input input-xlarge owner" name="owner" value="{{project.owner}}" id="owner"><br />
                <label>Status: </label>
                <select class="selectpicker status " name="status" id="status">
                    <option value="In Progress">In Progress</option>
                    <option value="Not Scheduled">Not Scheduled</option>
                    <option value="On Hold">On Hold</option>
                </select><br />
                <label>Priority: </label>
                <select class="priority" name="priority" id="priority">
                    <option value="High Priority">High Priority</option>
                    <option value="Low Priority">Low Priority</option>
                </select><br />
                <label for="date">Date: </label><input type="text" class="datepicker" id="datepicker">
                <br />
                <label for="url">URL: </label><input type="text" class="input input-xlarge ur;" name="url" value="{{project.url}}" id="url"><br />
                <label for="description">Description: </label><br/><input type="textarea" class="form-control description" rows="3" name="description" value="{{project.description}}" id="description"><br />


              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="submitProject">Submit Project</button>
            </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
            <button class="btn btn-success screenShot filterable" id="screenShot">Screenshot</button>

    </div>
</div>
        </template>