<template name="projectForm">
<button class="addProjectBtn pull-right btn-success btn btn-sm">Add Project</button>
        <div class="modal fade" id='responsive'>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Project</h4>
              </div>
              <div class="modal-body">
                <table>
                <th width="15%"></th>
                <th></th>

                <tr>
                    <td><label for="name">Project Name:</label></td>
                    <td><input type="text" class="input input-xlarge name projectInput" name="name" value="{{project.name}}" id="name"> *</td>
                </tr>
                <tr>
                    <td><label for="owner">Project Owner:</label></td>
                    <td><input type="text" class="input input-xlarge owner projectInput" name="owner" value="{{project.owner}}" id="owner"></td>
                </tr>
                <tr>
                    <td><label>Status: </label></td>
                    <td><select class="selectpicker status " name="status" id="status">
                        <option value="In Progress">In Progress</option>
                        <option value="Not Scheduled">Not Scheduled</option>
                        <option value="On Hold">On Hold</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label>Priority: </label></td>
                    <td><select class="priority" name="priority" id="priority">
                        <option value="High Priority">High Priority</option>
                        <option value="Low Priority">Low Priority</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="date">Date: </label></td>
                    <td><input type="text" class="datepicker projectInput" id="datepicker"></td>
                </tr>
                <tr>
                    <td><label for="url">URL: </label></td>
                    <td><input type="text" class="input input-xlarge url projectInput" name="url" value="{{project.url}}" id="url"></td>
                </tr>
                                <tr>
                    <td><label for="url">Type: </label></td>
                    <td><input type="text" class="input input-xlarge url projectInput" name="type" value="{{project.type}}" id="type"></td>
                </tr>
                <tr>
                    <td><label for="url">Platform: </label></td>
                    <td><input type="text" class="input input-xlarge url projectInput" name="platform" value="{{project.platform}}" id="platform"></td>
                </tr>

                <tr>
                    <td><label for="description">Description: </label></td>
                    <td><input type="textarea" class="form-control description projectInput" rows="3" name="description" value="{{project.description}}" id="description"></td>
                </tr>
                <tr>
                    <td><label>Screenshot Tracking?</label></td><td><input type="checkbox" class="screenshotToggle" id="screenshotToggle" value="false"></td>
                </tr>
            </table>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="submitProject">Submit Project</button>

            </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
        </template>