<template name="manage">
    {{#if currentUser}}
        <section id="manage-page">
          <div class="row">
            <div class="col-md-12">
              <div class="admins manage-block"> 
                {{> manageAdmins }}
              </div>
            </div>
          </div>
        </section>    
    {{else}}
      {{> login}}
    {{/if}}




</template>


<template name="manageAdmins">
  <div>
    <div class="form-group">
      <input type="text" id="user-input" class="form-control col-md-6 user-input" placeholder="Add a New User">
    </div>
    <button type="submit" class="btn btn-default addUser">Add</button>
  </div><br>
  <labeL>Current Users: </label>
  <div class="admins">
      {{#each admins}}
    <div class="tagContainer"><a class="currentTag btn btn-xs btn-default">{{this.name}}</a><span class="btn btn-default btn-xs deleteTag glyphicon glyphicon-remove removeUser"></span></div>
      {{/each}}
  </div>

</template>